{% extends 'base.html' %}

{% block head %} 
<title>Inventory App</title>
{% endblock %}

{% block action%}
    <a href="/ship">Create Shipment</a>
{% endblock%}

{% block body %}
<div>
    <h1>Current Inventory</h1>

    <table class="inventory">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.count }}</td>
                <td>${{ item.price*item.count}}</td>
                <td>
                    <a href="/delete/{{item.id}}">Delete</a>
                    <br>
                    <a href="/update/{{item.id}}">Update</a>
                </td>

            </tr>
        {% endfor %}    
    </table>

    <form action="/" method="POST">
        <input type="text" name="name" id="name" placeholder="Enter Item Name">
        <br>
        <input type="text" name="price" id="price" placeholder="Enter Item Price">
        <br>
        <input type="text", name="count" id="count" placeholder="Enter Item Count">
        <br>
        <input type="submit" value="Create Item">
    </form>


</div>


{% endblock %}