{% extends 'base.html' %}

{% block head %} 
<title>Inventory App</title>
{% endblock %}

{% block action %} 
    <a href="/">Back to Home</a>
{% endblock %}


{% block body %}
<div>
    <h1>Create Shipment</h1>

    <form action="/ship", method="POST">
        <table class="inventory">
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Total</th>
                <th>Select</th>
            </tr>
            {% for item in items %}
                <tr style="margin-top: 10px;">
                    <td>{{ item.name }}</td>
                    <td>${{ item.price }}</td>
                    <td><input type="text" name="ship_count" style="width: 20px;">/{{ item.count }}</td>
                    <td>${{ item.price*item.count}}</td>
                    <td>
                        <input type="checkbox" value="{{ item.id }}" name="ship" id="ship">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Add to Shipment">    
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    </div>

</div>


{% endblock %}