{% extends 'base.html' %}

{% block head %} 
<title>Update Item</title>
{% endblock %}

{% block action %} 
    <a href="/">Back to Home</a>
{% endblock %}


{% block body %}
<div>
    <h1>Update Item</h1>

    <div class="update_form">
        <form action="/update/{{item.id}}" method="POST">
            <tr>Item Name</tr>
            <br>
            <input type="text" name="name" id="name" value="{{item.name}}">
            <br>
            <tr>Item Price</tr>
            <br>
            <input type="text" name="price" id="price" value="{{item.price}}">
            <br>
            <tr>Count</tr>
            <br>
            <input type="text" name="count" id="count" value="{{item.count}}">

            
            <input type="submit" value="Update Item" style="margin-top: 15px;">
        </form>    
    </div>


</div>


{% endblock %}